<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>469948914612-ku3sjgaifd4pqn4c2c7nk5fb8g87a4u8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.469948914612-ku3sjgaifd4pqn4c2c7nk5fb8g87a4u8</string>
	<key>API_KEY</key>
	<string>AIzaSyD4a79qbqXeJn9tgimPfzAesis5Cf2AV-g</string>
	<key>GCM_SENDER_ID</key>
	<string>469948914612</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterAwesomeNotification</string>
	<key>PROJECT_ID</key>
	<string>flutter-notification-f1fbe</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-notification-f1fbe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:469948914612:ios:6801d5e68717a1e2e070e1</string>
</dict>
</plist>